@font-face {
    font-family: 'HackNerdFontMono-Regular';
    src: url('fonts/HackNerdFontMono-Regular.ttf') format('truetype');
}

html,
body,
[class*="css"] {
    font-family: 'HackNerdFontMono-Regular', monospace;
    /* monospace will be the fallback */
    font-size: 18px;
    font-weight: 500;
    color: #fefae0;
    /* Keeping text color same as config.toml */
    background-color: #130B04;
    /* Keeping background color same as config.toml */
}