@font-face {
    font-family: 'HackNerdFontMono-Regular';
    src: url('fonts/HackNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body,
[class*="css"] {
    font-family: 'HackNerdFontMono-Regular', monospace;
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}